.sketchpad {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .dndflow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    aside {
      padding: 0 8px;
      border-left: solid 1px;
      border-color: rgba(0, 0, 0, 0.12);

      .description {
        margin-top: 16px;
        text-align: center;
      }

      .dndnode {
        margin: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;

        .icon {
          padding: 2px;
          border-radius: 4px;
        }

        .webhook {
          background-color: #c63b64;
          color: white;
        }

        .spotify {
          background-color: #1DB954;
          color: white;
        }

        .telegram {
          background-color: #0088cc;
          color: white;
        }

        .ssh {
          background-color: #0C0C0C;
          color: #16C60C;
        }

        .github {
          background-color: #333;
          color: white;
        }
  
        .input {
          border-color: #0041d0;
        }
  
        .output {
          border-color: #ff0072;
        }
  
      }

    }

    .reactflow-wrapper {
      flex-grow: 1;
      height: 100%;
    }

  }

  .control-box {
    padding: 16px;
    border-top: solid 1px;
    border-color: rgba(0, 0, 0, 0.12);
  
    .button {
      margin: 0 16px;
    }

  }

}
