.add-connection-dialog {
    .title {
        padding-bottom: 4px;
    }
    .content {
        .close-icon {
            cursor: pointer;
            font-size: 1.4rem;
            position: absolute;
            right: 5px;
            top: 5px;
            color: $primary;
        }
        .list {
            .item {
                padding: 10px 0px !important;
                .icon {
                    font-size: 30px;
                }
            }
        }
        .options {
            flex: 0 0 auto;
            display: flex;
            padding: 8px;
            align-items: center;
            justify-content:flex-end;
            
            button {
                margin: 5px;
            }
        }
    }
}

.connections-icon {
    font-size: 30px;
}

.connection-icon {
    border-radius: 4px;
}