.webhook {
    background-color: #c63b64 !important;
    color: white !important;
}

  .spotify {
    background-color: #1DB954 !important;
    color: white !important;
}

  .telegram {
    background-color: #0088cc !important;
    color: white !important;
}

  .ssh {
    background-color: #0C0C0C !important;
    color: #16C60C !important;
}

  .github {
    background-color: #333 !important;
    color: white !important;
}