.sketchpad {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .dndflow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    aside {
      padding: 0 8px;
      border-left: solid 1px;
      border-color: rgba(0, 0, 0, 0.12);

      .description {
        margin-top: 16px;
        text-align: center;
      }

      .dndnode {
        margin: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;

        .icon {
          padding: 2px;
          border-radius: 4px;
        }
        .icon:hover {
          box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.14);
        }
  
        .input {
          border-color: #0041d0;
        }
  
        .output {
          border-color: #ff0072;
        }
  
      }

    }

    .reactflow-wrapper {
      flex-grow: 1;
      height: 100%;
    }

  }

  .control-box {
    padding: 16px;
    border-top: solid 1px;
    border-color: rgba(0, 0, 0, 0.12);
  
    .button {
      margin: 0 16px;
    }

  }

}
