.edit-wh-dialog {
  .MuiDialogTitle-root {
    padding-bottom: 0;
  }
  .MuiDialogContentText-root {
    margin: 0;
  }
  .MuiDialogContent-root {
    padding-top: 0;
    width: 400px;
  }
  .close-icon {
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    right: 5px;
    top: 5px;
    color: $primary;
  }
  .MuiTabs-root {
    margin-bottom: 20px;
  }

  .wh-setting-actions {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
    margin-right: -18px;
  }

  .edit-wh-tab {
    .wh-general-settings,
    .wh-advanced-settings {
      display: flex;
      flex-direction: column;
    }
    .data-structure-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      > * {
        margin-left: 2px;
        margin-right: 2px;
      }
      .select-ds-field {
        flex: 1;
        margin-left: 0;
      }
      .add-icon {
        margin-right: 0;
      }
    }
    .help-text {
      color: #707070;
      font-size: 0.84rem;
      .help-icon {
        margin-bottom: -5px;
        margin-right: 5px;
        font-size: 1.2rem;
      }
    }

    .edit-wh-field {
      margin-top: 11px;
      margin-bottom: 11px;

      .MuiFormHelperText-root {
        &.Mui-error {
          height: 0;
          margin-top: 0;
        }
      }
    }
  }
}

.wh-queue-details {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  .details {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    .data-key {
      font-weight: 300;
    }
  }
}

.queue-window {
  .close-icon {
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    right: 5px;
    top: 5px;
    color: $primary;
  }
}

.ds-popover {
  padding: 8px 24px;
  width: 300px;
  display: flex;
  flex-direction: column;
  .wh-ds-actions {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
    margin-right: -18px;
  }

  .edit-wh-field {
    margin-top: 11px;
    margin-bottom: 15px;

    .MuiFormHelperText-root {
      &.Mui-error {
        height: 0;
        margin-top: 0;
      }
    }
  }
  .ds-items-card {
    // background-color: $primary;
    // color: $secondary;
    .ds-items-card-content {
      overflow: auto;

      display: flex;
      flex-direction: row;
      > * {
        margin-bottom: 2px;
      }
    }
    .MuiCardContent-root {
      padding: 8px;
    }
    .ds-item {
      width: 200px;
      margin: 2px;
    }
  }
}

.webhooks-list {
  .MuiListItem-secondaryAction {
    padding-right: 260px;
  }
  .MuiListItem-container {
    .wh-actions {
      .edit-button,
      .switch,
      .queue-button {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .wh-item {
    .onclick-textfield {
      .text-field {
        width: 300px;
      }
      margin-bottom: 5px;
    }
    .MuiListItemText-secondary {
      padding-left: 14px;
      a {
        color: adjust-color($color: $primary, $lightness: 20%);
      }
    }
  }
}
