.handle {
    background: darken($background, 10%);
}

.text {
    margin: 0;
}

.node {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 75px;
    font-size: 75px;
    background-color: inherit;
}

.edge_text {
    cursor: pointer;
    font-size: 12px;
}