.handle {
    background: '#555';
}

.text {
    margin: 0;
}

.node {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: inherit;
}

.edge_text {
    cursor: pointer;
    font-size: 12px;
}