.webhook {
  color: #c63b64 !important;
  font-size: 75px;
  background-color: white;
  border-radius: 100%;
}

.spotify {
  color: #1DB954 !important;
  font-size: 75px;
  border-radius: 100%;
}

.telegram {
  color: #0088cc !important;
  font-size: 75px;
  border-radius: 100%;
}

.ssh {
  color: #0C0C0C !important;
  font-size: 75px;
  background-color: white;
  border-radius: 100%;
}

.github {
  color: #333 !important;
  font-size: 75px;
  background-color: white;
  border-radius: 100%;
}

.http {
  color: #1976d2 !important;
  font-size: 75px;
  background-color: white;
  border-radius: 100%;
}
