.webhook {
  color: #c63b64 !important;
  background-color: white;
  border-radius: 100%;
}

.spotify {
  color: #1DB954 !important;
  border-radius: 100%;
}

.telegram {
  color: #0088cc !important;
  border-radius: 100%;
}

.ssh {
  color: black !important;
  background-color: white;
  border-radius: 100%;
}

.github {
  color: #333 !important;
  background-color: white;
  border-radius: 100%;
}

.http {
  background-color: white;
  border-radius: 100%;
}
